@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.background {
    background-color: #222222;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    gap: 2rem;
}

.playButtomContainer {
    display: flex;
    gap: 2rem;
}

.resetContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.resultContainer {
    display: flex;
    color: white;
    font-weight: bold;
    gap: 2rem;
    
    font-size: 2rem;
}

.buttom {
    cursor: pointer;

    height: 7rem;
    width: 7rem;
    border-radius: 2rem;
    order: 0;
    flex-grow: 1;
}

.emoji {
    font-size: 3rem;
}

#reset.buttom {
    order: 1;
}